<mat-grid-list cols="5" rowHeight="10rem">
    <mat-grid-tile>
        <div>logo</div>
        <p>We have cloths that suits your style and which you're proud to wear, from women to men.</p>
        <div>
            social
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <h3>Company</h3>
        <a>About</a>
        <a>features</a>
        <a>works</a>
        <a>Carrer</a>
    </mat-grid-tile>
    <mat-grid-tile>
        <h3>Help</h3>
        <a>Customer Support</a>
        <a>Deliovery Detail</a>
        <a>Terms & Conditions</a>
        <a>Privacy Policy</a>
    </mat-grid-tile>
    <mat-grid-tile>
        <h3>FAQ</h3>
        <a>Account</a>
        <a>Mannage Deliveries</a>
        <a>Orders</a>
        <a>Payments</a>
    </mat-grid-tile>
    <mat-grid-tile>
        <h3>Resources</h3>
        <a>Free EBooks</a>
        <a>Development Tutorial</a>
        <a>How to Blog</a>
        <a>YouTube Playlist</a>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="2" rowHeight="3rem">
    <mat-grid-tile>
        <p>shop.co All Rights Reserved</p>
    </mat-grid-tile>
    <mat-grid-tile>
        Payments
    </mat-grid-tile>
  </mat-grid-list>